.scrollable-container {
  width: 100%; /* Set the desired width */
  overflow-x: auto; /* Enables vertical scrolling */
  white-space: nowrap;
}

.scrollable-container .row {
  background-color: #fcfcfc;
  border-radius: var(--border-radius);
  padding: 30px;
  flex-wrap: nowrap;
}

.customers .container .row img {
  border-left: 1px solid #f1f1f3;
  padding: 1vw 2vw;
  width: calc(100% / 7);
  min-width: 200px;
  box-sizing: border-box;
}

.customers .container .row img:first-child {
  border: none;
}

.customers {
  margin-bottom: 100px;
}
